<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Profile</h4>
          </div>
          <div class="card-body px-5">
            <form>
              <div class="row pb-4">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username" disabled>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="save()">Save Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>